name: Compile and deploy

on: 
  workflow_dispatch:
  push: 
    branches:
      - main
    paths:
      - 'LibraryAPI/**'
      - 'LibraryAPITests/**' 
      - '.github/workflows/compile-and-deploy.yml'
      
env:
  VERSION_DOTNET: '9'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      proyect: LibraryAPI/LibraryAPI.csproj
    steps:
      - name: Checkout
        uses: actions/checkout@v6-beta

      - name: Install .NET
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: ${{ env.VERSION_DOTNET }}
          
      - name: Get dependencies
        run: dotnet restore

      - name: Compile
        run: dotnet build --no-restore

      #- name: Do tests
      #  run: dotnet test --no-build
          
      
      
