name: Compile and deploy

on: 
  workflow_dispatch:
  push: 
    branches:
      - main
    paths:
      - 'LibraryAPI/**'
      - 'LibraryAPITests/**' 
      - '.github/workflows/compile-and-deploy.yml'
      
env:
  VERSION_DOTNET: '9'
  AZURE_APP_SERVICE_NAME: LibraryAPI20251107163731
  AZURE_APP_SERVICE_PACKAGE_LOCATION: '.'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      proyect: LibraryAPI/LibraryAPI.csproj
    steps:
      - name: Checkout
        uses: actions/checkout@v6-beta

      - name: Install .NET
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: ${{ env.VERSION_DOTNET }}
          
      - name: Get dependencies
        run: dotnet restore

      - name: Compile
        run: dotnet build --no-restore

      #- name: Do tests
      #  run: dotnet test --no-build
      - name: Publish Web API
        run: dotnet publish $proyect -c Release -o libraryApi --runtime win-x86

      - name: Load Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          path: ./libraryApi
          name: build
  deploy:
    permissions: 
      contents: none
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Get artifacts
        uses: actions/download-artifact@v6.0.0
        with: 
          name: build
          
      - name: Deploy to Azure App Service
        uses: Azure/webapps-deploy@v2.2.17
        with:
          app-name: ${{ env.AZURE_APP_SERVICE_NAME }}
          publish-profile: ${{ secrets.PUBLIC_AZURE_PROFILE }}
          package: ${{ env.AZURE_APP_SERVICE_PACKAGE_LOCATION }}
          
      
        
          
      
      
